.home-container{

    width:100vw;
    height:100vh;
    background-color: cadetblue;
    background-image: url("../../../Assets/bg10.jpg"); 
    background-repeat: no-repeat;
    background-size:cover;


}
