.intro-container{
    width:100vw;
    //background-color: darkslateblue;
    background-color: rgba(0, 0, 0, 0.5);
    height:90vh;
    display:flex;
    flex-direction: row;
    color:white;
    font-family: 'Montserrat', sans-serif;
   

}